{namespace cert = Tx_Certifications_ViewHelpers}
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

    <h1 class="csc-firstHeader cert-head">{feUsers.firstName} {feUsers.lastName}</h1>

    <f:if condition="{feUsers.image}">
        <div class="cert-user-image"><cert:GrayImage src="uploads/pics/{feUsers.image}" width="340m" alt="{feUsers.firstName} {feUsers.lastName}" />
            <f:if condition="{feUsers.certReason}">
                <span class="cert-reason">"{feUsers.certReason}" <span class="cert-name">{feUsers.firstName} {feUsers.lastName}</span></span>
            </f:if>
        </div>
    </f:if>

    <span class="cert-country">{feUsers.country}</span>
    <div class="certificates">
        <h3><f:translate key="tx_certifications_domain_model_user.myCertificates" /></h3>
        <ul>
            <f:for each="{feUsers.certificates}" as="certificate">
                <f:if condition="{0:certificate.allowListing} == {0:'1'}">
                    <li>{certificate.certificateType.title}
                        (<f:if condition="{certificate.expired}"><f:then><f:translate key="tx_certifications_domain_model_user.no_expiration" /></f:then><f:else><f:format.date format="d.m.Y">{certificate.certificationDate}</f:format.date> - <f:format.date format="d.m.Y">{certificate.expirationDate}</f:format.date></f:else></f:if>)
                    </li>
                </f:if>
            </f:for>
        </ul>
    </div>

    <f:if condition="{feUsers.publicEmailAddress}">
        <div class="cert-contact">
            <h3><f:translate key="tx_certifications_domain_model_user.contact" /></h3>
            <p><f:link.email email="{feUsers.email}" /></p>
            <f:if condition="{feUsers.publicTwitter}">
                <p><f:link.external uri="https://www.twitter.com/{feUsers.twitter}" target="_blank">@{feUsers.twitter}</f:link.external></p>
            </f:if>
        </div>
    </f:if>

</f:section>